*.jar
*.log
.minecraft/.mixin.out/
*.dat
.minecraft/options.txt
*.dll
*.lck
*.png
*.bin
.minecraft/tv-cache/!read-me.txt
.minecraft/journeymap/
.minecraft/saves/
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/patchouli_data.json
.minecraft/mods/memory_repo/blusunrize/ImmersiveEngineering-core/0.12-92/ImmersiveEngineering-core-0.12-92.jar.meta
.minecraft/local/ftbutilities/players.txt
.minecraft/local/ftbutilities/ranks.txt
.minecraft/local/client/sidebar_buttons.json
.minecraft/local/client/ftbutilities.cfg
.minecraft/local/client/ftblib.cfg
